.ReactTable .rt-table {
    /* color: blue; */
    text-align: center;
    /* overflow: hidden !important; */
  }
  
  /* .ReactTable .rt-table .rt-td {
      border: 0.05px solid #dbdbdb;   
    } */
  /* .ReactTable .rt-thead.-header {
    box-shadow: none !important;
    border-bottom: 1px solid #2d2d2d;
  } */